<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @UsersNavPages.IndexNavClass(ViewContext)" asp-page="../index">All Users</a></li>
    <li class="nav-item"><a class="nav-link @UsersNavPages.NewUserNavClass(ViewContext)" id="new-user" asp-page="../newuser">Create New User</a></li>
</ul>