<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
      <customErrors xdt:Transform="RemoveAll"/>
    </system.web>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments=".\KuberMICManager.WebUI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables xdt:Transform="Insert">
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>