<!-- Layout Footer Start -->
<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p class="mb-0 text-muted text-medium">Copyright &copy; @(DateTime.Now.Year) - Kuber MIC - Authorized Users Only</p>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <ul class="breadcrumb pt-0 pe-0 mb-0 float-end">
            <li class="breadcrumb-item mb-0 text-medium">
              <a href="https://www.kubermic.com" target="_blank" class="btn-link">Kuber MIC</a>
            </li>
            <li class="breadcrumb-item mb-0 text-medium">
              <a href="https://www.squarecapital.ca" target="_blank" class="btn-link">Square Capital</a>
            </li>
            <li class="breadcrumb-item mb-0 text-medium"><a href="https://portal.kubermic.com/" target="_blank" class="btn-link">Kuber Portal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Layout Footer End -->
