
@if (@Model != null)
{
    <div id="message" class="alert alert-success alert-dismissible" role="alert">
@*        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
*@        @Model
    </div>
}