<div class="col-auto side-menu-container">
  <ul class="sw-25 side-menu mb-0 primary" id="sideMenu">
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_details')" class="pb-0">
        <i data-acorn-icon="user" class="icon"></i>
        <span class="label">Partner</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_portfolio')" class="pb-0">
        <i data-acorn-icon="pos" class="icon"></i>
        <span class="label">Portfolio</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_certificates')" class="pb-0">
        <i data-acorn-icon="money-bag" class="icon"></i>
        <span class="label">Certificates</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_history')" class="pb-0">
        <i data-acorn-icon="clock" class="icon"></i>
        <span class="label">History</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_attachments')" class="pb-0">
        <i data-acorn-icon="attachment" class="icon"></i>
        <span class="label">Attachments</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_custom_fields')" class="pb-0">
        <i data-acorn-icon="form" class="icon"></i>
        <span class="label">Custom Fields</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.partner_notes')" class="pb-0">
        <i data-acorn-icon="file-text" class="icon"></i>
        <span class="label">Notes</span>
      </a>
    </li>
  </ul>
</div>

