@page
@model ForgotPasswordModel
@{
    Layout = "_FullLayout";

    List<string> PageStyles = new List<string>(){};
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>(){
      "/js/vendor/jquery.validate/jquery.validate.min.js",
      "/js/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js",
      "/js/vendor/jquery.validate/additional-methods.min.js"
    };
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>(){
      "/js/pages/auth.login.js"
    };
    ViewBag.PageScripts = PageScripts;

    ViewData["Title"] = "Forgot your password?";
    ViewBag.Description = "Forgot your password?";
}

@section RightSide {
<div class="mb-5">
    <h2 class="cta-1 text-primary">@ViewData["Title"]</h2>
</div>
<div class="mb-5">
    <p class="h6">Enter your email.</p>
</div>
<div>
    <form id="form1" class="tooltip-end-bottom" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3 filled form-group tooltip-end-top">
        <i data-acorn-icon="email"></i>
        <input placeholder="Email" asp-for="Input.Email" class="form-control" autocomplete="username" autofocus="autofocus" onFocus="this.select()" required/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
    </form>
</div>
}
