@page
@model ForgotPasswordConfirmation
@{
    Layout = "_FullLayout";

    List<string> PageStyles = new List<string>(){};
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>(){};
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>(){};
    ViewBag.PageScripts = PageScripts;

    ViewData["Title"] = "Forgot password confirmation";
    ViewBag.Description = "Forgot password confirmation";
}

@section RightSide {
<div class="mb-5">
    <h2 class="cta-1 text-primary">@ViewData["Title"]</h2>
</div>
<div class="mb-5">
    <p class="h6">Please check your email to reset your password.</p>
</div>
}
