<div class="col-auto side-menu-container">
  <ul class="sw-25 side-menu mb-0 primary" id="sideMenu">
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_borrowers')" class="pb-0">
        <i data-acorn-icon="user" class="icon"></i>
        <span class="label">Borrowers</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_terms')" class="pb-0">
        <i data-acorn-icon="pos" class="icon"></i>
        <span class="label">Terms</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_funding')" class="pb-0">
        <i data-acorn-icon="money-bag" class="icon"></i>
        <span class="label">Funding</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_charges')" class="pb-0">
        <i data-acorn-icon="category" class="icon"></i>
        <span class="label">Charges</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_properties')" class="pb-0">
        <i data-acorn-icon="home" class="icon"></i>
        <span class="label">Properties</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_history')" class="pb-0">
        <i data-acorn-icon="clock" class="icon"></i>
        <span class="label">History</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_trust_ledger')" class="pb-0">
        <i data-acorn-icon="note" class="icon"></i>
        <span class="label">Trust Ledger</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_attachments')" class="pb-0">
        <i data-acorn-icon="attachment" class="icon"></i>
        <span class="label">Attachments</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_custom_fields')" class="pb-0">
        <i data-acorn-icon="form" class="icon"></i>
        <span class="label">Custom Fields</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="SideMenuHandler('section.loan_notes')" class="pb-0">
        <i data-acorn-icon="file-text" class="icon"></i>
        <span class="label">Notes</span>
      </a>
    </li>
  </ul>
</div>

